{% assign selected_projects = site.projects %}
{% if selected_projects != empty %}
  <div class="projects">
    <div class="grid">
      {% for project in selected_projects %}
        {% include projects.liquid %}
      {% endfor %}
    </div>
  </div>
{% endif %}
